extends layout.pug

block content
  include partials/header-main.pug
  include partials/header-post-user.pug
  include partials/header-search.pug
  main.main-page
    include sections/theme-list.pug
    include sections/flex-short.pug
    include sections/preview.pug