.post__text
  h3 Бирюзовое доверие
  p
    | У Apple иногда попадаются интерфейсы, за которые создателей хочется сильно
    | поругать
    | — к примеру интерфейс
    | публикации приложения в AppStore, для которого я уже неделю восстановливаю свой аккаунт разработчика.
  p
    | Или интерфейс подключения AirPods на макбуке. Чтобы переключить наушники между
    | телефоном и компьютером,
    | нужно сначала нажать на значок звука, затем дождаться, когда в списке устройств появятся наушники, потом
    | нажать на них и дождаться, пока случится вся магия подключения. Иногда по загадочным причинам магия не
    | случается, и операцию нужно повторить, выполняя все те же клики-ожидания-клики — бесит.
