ul.post__themes.themes
  li.themes__item
    a.themes__item-link(href='#')
      | Автомобили
      sup 88
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Удаленная работа
      sup 13
    button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Бизнес
      sup 13
    button.themes__remove-btn(type='button') Удалить категорию
